html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: url(http://www.techbot.org/imgs/bg.jpg) no-repeat;
  background-size: cover;
  color: #FFF;
}

.main .btn {
  background: rgb(0,240,290);
  background: rgba(0, 240, 190, 0.25);
  border: 0px;
  border-radius: 0;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container {
  max-width: 940px;
}

.header {
  margin-bottom: 50px;
  text-align: center;
}

.header .container {
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 0;
}

.form-control.account-firstname {
  border-radius: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background: rgb(192,192,192);
  background: rgba(192,192,192,0.5);
  color: #fff;
}

.form-control.account-lastname {
  border-radius: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); 
  background: rgb(192,192,192);
  background: rgba(192,192,192,0.5);
  color: #fff;
}

.form-control.account-email {
  border-radius: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background: rgb(192,192,192);
  background: rgba(192,192,192,0.5);
  color: #fff;
}

.form-control.account-password {
  border-radius: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  background: rgb(192,192,192);
  background: rgba(192,192,192,0.5);
  color: #fff;
}

.footer .container {
  border-top: 1px solid #e5e5e5;
  padding: 20px 0;
}

.footer li {
  color: #686868;
  display: inline;
  padding: 0 10px;
}

.logo {
  margin: 0 auto; 
}